{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
    {% block content %}

    <div class="base_container">
        <div class="content">
            <h4>Enter New Password</h4>
            <form action="" method="post" novalidate autocomplete="off">
                       
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="alert_danger">
                    {% for error in form.non_field_errors %}
                    <span >{{error}}</span>
                    {% endfor %}
                </div>
                {% endif %} 
                
                {% for field in form  %}
                    <div class="form_control">
                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="invalid" %}
                            {% for error in field.errors %}
                                <p class="error">{{error}}</p>
                            {% endfor %}
                        {% else %}
                        {% render_field field class="valid" %}
    
                        {% endif %}
    
                    {% else %}
                        {% render_field field  %}
                    {% endif %}
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
    
                    
                    {% if field.name == "password1" or field.name == "password2" %}
                    <img src="{% static 'images/icons8-hide-30.png' %}" alt="icons8-hide-30.png" class="hide_show">
    
                    {% endif %}
                        
    
                    </div>
    
                {% endfor %} 
                    
    
    
                <input type="submit" value="Reset Password">
            </form>
        </div>
    
    </div>
    {% endblock content %}
 