{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ block.super }}-Password-Change
{% endblock title %}

{% block content %}
<div class="base_container">
    <div class="content">
        
        <h4 class="mb-4">Password Change</h4>
        <form action="" method="post" novalidate autocomplete="off">
                   
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert_danger">
                {% for error in form.non_field_errors %}
                <span >{{error}}</span>
                {% endfor %}
            </div>
            {% endif %} 
            
            {% for field in form  %}
                <div class="form_control">
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="invalid" %}
                        {% for error in field.errors %}
                            <p class="error">{{error}}</p>
                        {% endfor %}
                    {% else %}
                    {% render_field field class="valid" %}

                    {% endif %}

                {% else %}
                    {% render_field field  %}
                {% endif %}
                <label for="{{field.id_for_label}}">{{field.label}}</label>

                
                {% if field.name == "new_password1" or field.name == "new_password2" or field.name == "old_password" %}
                <img src="{% static 'images/icons8-hide-30.png' %}" alt="icons8-hide-30.png" class="hide_show">

                {% endif %}
                    

                </div>

            {% endfor %} 
                


            <input type="submit" value="Reset Password">
        </form>
        <p class="form_cancel"><a href="{% url 'home' %}">Cancel</a></p>
    </div>

</div>
{% endblock content %}
    
    